.Temporary {
    width: 100%;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 280px;
}

.Temporary div {
    flex-shrink: 0;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 90%;
    margin: 1em auto 2em;
}
