.navbar {
    /* background-color: var(--elementos_neutros_escuro); */
    justify-content: center;
    transition: 0.5s;
}

.container {
    background-color: var(--elementos_neutros_escuro);
    border-radius: 11px;
    transition: 0.5s;
}

.small {
    display: flex;
    align-items: center;
    font-size: small;
    white-space: nowrap;
}

.itens-direita {
    align-items: center;
}

.navbar-toggler {
    background-color: var(--elementos_neutros_escuro) !important;
}

.profile {
    display: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 1500px;
    }
    .itens-direita {
        width: 20% !important;
    }
    .optResponsivo {
        display: none;
    }
    .profile {
        display: block;
    }
}

.nav-link {
    color: #F5F5F5;
    stroke: 0.2px solid #000000;
}

a img{
    transition: 90ms;
}

a:hover img {
    filter: invert();
}