.Toggler {
    cursor: pointer;
}

.OverlayModal {
    display: flex;
    flex-direction: column;

    color: white;
}

.OverlayModal a {
    color: white;
}

.OverlayModal a:hover{
    color: #b9bcff;
}